---
import ParticlesBackground from "../components/ParticlesBackground.astro";
import { WORK } from "src/consts";
import { getCollection } from "astro:content";

const base = import.meta.env.BASE_URL;

// Crear las rutas con el base
const workHref = `${base}/work`;
const projectsHref = `${base}/projects`;
---

<!-- Tu sección Hero -->
<section
	class="relative flex flex-col items-center justify-center min-h-screen bg-white overflow-hidden pt-16"
>
	<!-- 1. Aquí insertamos el componente de partículas -->
	<div class="absolute inset-0 z-0">
		<ParticlesBackground />
	</div>

	<!-- 2. Contenedor del círculo gigante invertido -->
	<div
		id="planetcont"
		class="animate absolute inset-0 top-1/4 overflow-hidden z-10"
	>
		<div
			id="crescent"
			class="absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 from-0% to-transparent to-5%"
		>
			<div
				id="planet"
				class="w-full h-full bg-white rounded-full p-[1px] overflow-hidden flex justify-center"
			>
				<div
					id="blur"
					class="w-full h-20 rounded-full bg-neutral-900/25 blur-3xl"
				>
				</div>
			</div>
		</div>
	</div>

	<!-- 3. Tu contenido (Texto) -->
	<div
		class="relative z-10 text-center px-4 sm:px-6 md:px-8 py-12 sm:py-16 md:py-0"
	>
		<div
			class="relative z-10 flex flex-col items-center mt-16 sm:mt-20 md:mt-24 lg:mt-32 max-w-4xl mx-auto"
		>
			<h1
				class="text-base sm:text-lg md:text-xl text-gray-700 mb-8 sm:mb-10 max-w-2xl mx-auto leading-relaxed text-center"
			>
				<span class="block text-gray-900 font-bold italic mb-4">
					"Hagas lo que hagas, hazlo con el corazón."
				</span>
				Aprendí hace tiempo que la diferencia entre algo bien hecho y algo extraordinario
				reside en la entrega que le pones a cada detalle.
				<br /><br />
				En esta web comparto mi camino, mis proyectos y mi forma de ver el mundo.
				<br /><br />

				Soy <span class="text-gray-900 font-semibold">Juan Manuel Betancur</span
				> y te invito a conocer mi experiencia y los proyectos donde he dejado mi
				huella.
			</h1>
			<div class="flex flex-row gap-3 w-full max-w-sm mx-auto px-4 justify-center">
    <a
        href={workHref}
        class="flex-1 bg-gray-900 hover:bg-gray-700 transition-colors px-3 sm:px-6 py-2 sm:py-2.5 rounded-md font-semibold shadow-md shadow-blue-900/20 text-center text-xs sm:text-sm text-white"
    >
        Experiencia
    </a>
    <a
        href={projectsHref}
        class="flex-1 bg-gray-900 hover:bg-gray-700 transition-colors px-3 sm:px-6 py-2 sm:py-2.5 rounded-md font-semibold shadow-md shadow-blue-900/20 text-center text-xs sm:text-sm text-white"
    >
        Proyectos
    </a>
</div>
		</div>
	</div>
</section>
